/*
 * -------------------------------------------------
 *  nf-core/aligngenomes Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// timeline {
//   enabled = true
//   file = "${params.outdir}/trace/execution_timeline.html"
// }
// report {
//   enabled = true
//   file = "${params.outdir}/trace/execution_report.html"
// }
// trace {
//   enabled = true
//   file = "${params.outdir}/trace/execution_trace.txt"
// }
// dag {
//   enabled = true
//   file = "${params.outdir}/trace/pipeline_dag.svg"
// }

manifest {
  name = 'nf-core/aligngenomes'
  author = 'Sam Minot, Ph.D.'
  homePage = 'https://github.com/nf-core/aligngenomes'
  description = 'Align one/more WGS datasets against one/more reference genomes'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0dev'
}

// Define resources for each step in the workflow
// Setting parameters here allows the user to make their own alternate set of
// resource requirements which will override this default configuration
process {
    withName: correctHeaders { 
      cpus = 1 
      memory = 4.GB 
    } 
    withName: alignGenome { 
      cpus = 4 
      memory = 8.GB 
    } 
    withName: sortBAM { 
      cpus = 4 
      memory = 8.GB 
    } 
    withName: alignmentStats { 
      cpus = 1 
      memory = 4.GB 
    } 
    withName: summarizeEach { 
      cpus = 4 
      memory = 30.GB 
    } 
    withName: countReads { 
      cpus = 1 
      memory = 4.GB 
    } 
    withName: collectCounts { 
      cpus = 1 
      memory = 4.GB 
    } 
    withName: collectAll { 
      cpus = 1 
      memory = 4.GB 
    } 
}
